article, aside, details, dl, figcaptions, figure, footer, header, main, nav, section, aside {
  
  display:block;

  }
body {
  margin: 0px;
  padding: 0px;
}

p, h1, h2, h3 h4{
  
  margin: 0px;
  padding: 5px;
}

.nav ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  }

.header, .nav, .footer{
  margin: 0px;
  padding: 0px;

}
.header-writing{
  margin-left: 95px;
}