	 
 .main {
  display:grid;
  grid-area: main;
 
 
}
.header {
  display:grid;
  grid-area: header;
  
}
.nav ul{
  display:grid;
  grid-area: nav;
   grid-template-columns: repeat(4, 1fr);
Float: left;
  
}
.section {
  display:grid;
  grid-area: section;
  
}
.footer {
  display:grid;
  grid-area: footer;
 
}

.layout{
	display:grid;
	grid-gap:1;
grid-template-columns: 1fr;
	grid-template-areas:
	"nav"
	"header"
	"section"
	"main"
	"footer";
	}
	
  @media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
      width: 100%;
      padding: 0;
    }
    .nav{
      float: left;
    }
  }
 * @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .nav, .header, .section, .main, .footer, body {
      width: 100%;
      padding: 0%;
     
    }
    .nav{
      float: left;
     
    }
  
  }

